@use "../global" as global;

.p-feature {
    background: global.$bg-color;
    padding: 154px 0 100px 0;

    @include global.mq(sp) {
        padding: 60px+34px 0 60px 0;
    }
}

.p-feature__inner {
    @include global.mq(sp) {
        padding: 0;
    }
}

.p-feature__items {
    margin-top: 102px;
    position: relative;

    @include global.mq(tb) {
        margin-top: 40px; 
    }

    @include global.mq(sp) {
        margin-top: 40px;
    }
}

.p-feature__title {
    font-size: 48px;
    font-weight: global.$fw-bold;
    letter-spacing: 0.05em;
    color: global.$primary-color;
    text-align: center;
    position: relative;

    @include global.mq(sp) {
        font-size: 30px;
        line-height: 42px;
    }

    span {
        font-size: 36px;
        font-family: global.$ff-en;
        color: global.$primary-color-sub;
        letter-spacing: 0;
        position: absolute;
        top: -54px;
        left: 50%;
        transform: translateX(-50%); 

        @include global.mq(sp) {
            font-size: 22px;
            line-height: 1;
            white-space: nowrap;
            top: -22px-12px;
        }
    }
}


.p-feature__content {
    margin-top: 256px;
}