@use "../global" as global;

.p-users {
    padding: 154px 0  100px 0;
    background-color: #E5E5E5; 

    @include global.mq(sp) {
        padding: 60px+34px 0 60px 0;
    }
}

.p-users__title {
    font-size: 48px;
    font-weight: global.$fw-bold;
    letter-spacing: 0.05em;
    color: global.$primary-color;
    text-align: center;
    position: relative;

    @include global.mq(sp) {
        font-size: 30px;
    }

    span {
        font-size: 36px;
        font-family: global.$ff-en;
        color: global.$primary-color-sub;
        letter-spacing: 0;
        position: absolute;
        top: -54px;
        left: 50%;
        transform: translateX(-50%); 

        @include global.mq(sp) {
            font-size: 22px;
            line-height: 1;
            white-space: nowrap;
            top: -22px-12px;
        }
    }
} 

.p-users__content {
    margin-top: 40px;

    @include global.mq(sp) {
        margin-top: 24px;
    }
}