@use "../global" as global;

.c-button-table-white2 {
    width: 234px;
    padding: 16px 45px;
    color: global.$text-color;
    text-align: center;
    background-color: global.$text-color2;
    font-weight: global.$fw-bold;
    border-radius: 50px;
    font-size: 18px;
    border: 2px solid global.$text-color;
    white-space: nowrap;
    box-sizing: border-box; 
    display: inline-block;
    transition: 0.3s;

    @include global.mq(sp) {
        width: 166px;
        padding: 11px 19px;
        font-size: 16px;
    }

    &:hover {
        opacity: 0.7;
    }
}